* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-style: italic;
}

li {
  list-style: none;

}

li>a.active {
  color: red;
}

.nav-list-header {
  background-color: rgb(214, 214, 214);

}

a {
  text-decoration: none;
  color: rgb(20, 20, 19);
  font-size: 1.5rem;
}

img {
  width: 20%;

}